<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>
<h2>All users</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>lastName</th>
  </tr>
  </thead>
  <tbody>
  <tr var="user" items="${users}">
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.lastName}"></td>
    <td>
      <form th:action="@{/admin/edit}">
        <button type="submit" th:name="id" th:value="${user.id}">Edit</button>
      </form>
    </td>
    <td>
      <form method="post" th:action="@{/admin/delete}">
        <button type="submit" th:name="id" th:value="${user.id}">Delete</button>
      </form>
    </td>
  </tr>
  </tr>
  </tbody>
</table>
<a href="/admin/new">Create new user</a>
</br>
<a href="/user">My info</a>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>
